
.cont-products {
    width: 90%;
    margin: auto;
    padding: 5vh;
    display: flex;
    justify-content: space-between;
}
.cont-products .card {
    margin: 3vh;
    border: none;
}
.card {
    
    
    margin: 0vh;
    width: 20rem;
    transition: all 0.1s ease-out;
    position: relative;
    
}
.card-body{
   
    padding-left: 0;
    padding-right: 0;
}


.filternone  {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in;
    

}
.card img {

width: 90%;
}
.card:hover {
    border: solid rgb(246, 190, 189) 1px;
    color: rgb(2, 2, 2);
    transform: scale(1.1);
}
.card:hover .filternone {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    


   
}
.card i {
    margin: 0;
    padding: 0;
    font-size: 20px;


}
.card .btn {
    width: 100%;

}

.btn {
    object-fit: cover;

    border-radius: 10;
    background-color:#dc3545;
    border: solid 1px  rgb(212, 79, 112); 
    color: aliceblue;
    font-size: 1rem;
    


    
    
}
.btn:hover {
    background-color:  rgb(254, 0, 62);
    border: solid 1px  rgb(230, 221, 223); 
    color: antiquewhite;
}
.btn:active { 
    background-color: rgb(254, 0, 62);
    border: solid 1px  rgb(254, 0, 62); 
}
.fliter {
    display: none;
}
.menu-nav {
    color: black;
}
.nav-pills {

    --bs-nav-pills-border-radius: var(--bs-border-radius);
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: rgb(254, 0, 62);}