* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.red-bold {
  font-weight: bold;
  color: brown;
}

/* styles banner */
.banner-info i{
    font-size: 3rem;

}
.banner-info h3 {
font-size: 1.2rem;
}

.banner-info {
background-color:#BEBEBE;
}
@media (min-width: 768px) {
    .banner-info h3 {
        font-size: o.5rem;
    }
 }

/* card carousel featured */
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
    
  }
  .card {
    margin: 0.5em 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 2rem;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
.carousel-control-next {
  background-color: #6d6666;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
    .card img {
      height: 11em;
    }
 }

 .gal1 {
  background-image: url(../assets/img/cards/Bicicleta\ Mtb\ Zenith.webp);
 }
 .gal2 {
  background-image: url(../assets/img/cards/rembrandt\ jumper.webp);
 }
 .gal3 {
  background-image: url(../assets/img/cards/zenith\ atacama.webp);
 }
 .gal4 {
  background-image: url(../assets/img/cards/zenith\ riva.webp);
 }
 .gal5 {
  background-image: url(../assets/img/cards/zenith\ roja.webp);
 }
 .cards-deals {
	cursor: pointer;
  display: flex;
  height: 25rem;
  gap: 0.5rem;
 }
 .cards-deals > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .3s;
 }
 .cards-deals > div:hover {
  flex: 1.5;
 }


/* video advertising */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Proporción de 16:9 */
  height: 0;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .video-container {
    padding-bottom: 75%; /* Proporción de 4:3 en pantallas pequeñas */
  }
  
  .video-container video {
    object-fit: cover;
  }
  
  .video-container video::-webkit-media-controls {
    display: none; /* Oculta los controles en iOS */
  }
}
.category-image img {
  max-width: 100%;
  height: auto;
}
.cards-deals {
  display: none;
}
