<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	
	<link rel="stylesheet" href="../css/login.css">
	<link rel="stylesheet" href="../css/navbar.css">
	<link rel="stylesheet" href="../css/footer.css">
	<title>Document</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-lg-5 shadow-sm">
		<div class="container">
			<a class="navbar-brand" href="../index.html">
				<!-- <img src="../assets/img/logo.jpeg" class="w-25" alt=""> --> <strong class="fs-4" style="color: red">THE BIKE</strong>
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
				<div class="input-group">
					<span class="border-danger input-group-text bg-danger text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
					<input type="text" class="form-control border-danbg-danger">
					<button class="btn btn-danger text-white">Buscar</button>
				</div>
			</div>

			<div class=" collapse navbar-collapse" id="navbarNavDropdown">
				<div class="ms-auto d-none d-lg-block">
					<div class="input-group">
					<span class="border-danger input-group-text bg-danger text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
					<input type="text" class="form-control border-danbg-danger">
					<button class="btn btn-danger text-white">Buscar</button>
				</div>
			</div>

			<ul class="navbar-nav ms-auto ">
				<li class="nav-item">
					<a class="nav-link mx-2 text-uppercase active bg-danger text-white" aria-current="page" href="#">Ofertas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2 text-uppercase" href="./products.html">Productos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2 text-uppercase" href="#">Catalogo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2 text-uppercase" href="./contact.html">Contactanos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mx-2 text-uppercase" href="#">About</a>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto ">
				<li class="nav-item d-flex align-items-center">
					<a class="nav-link mx-2 text-uppercase" href="./cart.html"><i class="fa-solid fa-cart-shopping me-1"></i>Carro</a>
				</li>
				<li class="nav-item d-flex align-items-center">
					<a class="nav-link mx-2 text-uppercase" href="#"><i class="fa-solid fa-circle-user me-1"></i>Cuenta</a>
				</li>
			</ul>
		</div>

	</nav>
	<section class="background-radial-gradient overflow-hidden">
		<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
			<div class="row gx-lg-5 align-items-center mb-5">
				<div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
					<h1 class="my-5 display-5 fw-bold ls-tight" style="color: red">
						Registrate <br />
						<span style="color: gray">Para tu negocio</span>
					</h1>
					<p class="mb-4 opacity-70" style="color: white">
						Lorem ipsum dolor, sit amet consectetur adipisicing elit.
						Temporibus, expedita iusto veniam atque, magni tempora mollitia
						dolorum consequatur nulla, neque debitis eos reprehenderit quasi
						ab ipsum nisi dolorem modi. Quos?
					</p>
				</div>
	
				<div class="col-lg-6 mb-5 mb-lg-0 position-relative">
					<div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
					<div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
	
					<div class="card bg-glass">
						<div class="card-body px-4 py-2 px-md-5">
							<form>
								<!-- 2 column grid layout with text inputs for the first and last names -->
								<div class="form-logo">
									<img  src="../assets/img/logo.jpeg" class="mb-3 align-items-center w-25 h-25" alt="">
								</div>
								<div class="row">
									<div class="col-md-6 mb-3">
										<div class="form-outline">
											<label class="form-label" for="form3Example1">Nombre</label>
											<input type="text" id="form3Example1" class="form-control" required/>
											
										</div>
									</div>
									<div class="col-md-6 mb-3">
										<div class="form-outline">
											<label class="form-label" for="form3Example2">Apellido</label>
											<input type="text" id="form3Example2" class="form-control" required/>
											
										</div>
									</div>
								</div>
	
								<!-- Email input -->
								<div class="form-outline mb-3">
									<label class="form-label" for="form3Example3">Email</label>
									<input type="email" id="form3Example3" class="form-control" required/>
									
								</div>
	
								<!-- Password input -->
								<div class="form-outline mb-3">
									<label class="form-label" for="form3Example4">Telefono</label>
									<input type="text" id="form3Example4" class="form-control" required/>
									
								</div>

								<!-- Password input -->
								<div class="form-outline mb-3">
									<label class="form-label" for="form3Example4">Contraseña</label>
									<input type="password" id="form3Example4" class="form-control" required/>
									
								</div>

								<!-- Password input -->
								<div class="form-outline mb-3">
									<label class="form-label" for="form3Example4">Confirmar contraseña</label>
									<input type="password" id="form3Example4" class="form-control" required/>
									
								</div>
	
	
								<!-- Checkbox -->
								<div class="form-check d-flex justify-content-center mb-3">
									<label class="form-check-label" for="form2Example33">
									<input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
									
										Suscríbete
									</label>
								</div>
	
								<!-- Submit button -->
								<button type="submit" class="btn btn-danger btn-block mb-3">
									Crear Cuenta
								</button>
	
								<!-- Register buttons -->
								<div class="text-center">
									<p>or sign up with:</p>
									<button type="button" class="btn btn-link btn-floating mx-1">
										<i class="fab fa-facebook-f" style="color: red"></i>
									</button>
	
									<button type="button" class="btn btn-link btn-floating mx-1">
										<i class="fab fa-google" style="color: red"></i>
									</button>
	
									<button type="button" class="btn btn-link btn-floating mx-1">
										<i class="fab fa-twitter" style="color: red"></i>
									</button>
	
									<button type="button" class="btn btn-link btn-floating mx-1">
										<i class="fab fa-github" style="color: red"></i>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="cont-items-flex">
		  <div class="cont-items">
			<h2 class="title-items">Categorias</h2>
			<div class="cont-link-footer">
			  <a href="#">OFERTAS</a>
			  <a href="#">PRODUCTOS</a>
			  <a href="#">CATALOGO</a>
			  <a href="#">CONTACTANOS</a>
			  <a href="#">ABOUT</a>
			</div>	
		  </div>
		  <div class="cont-items">
			<h2 class="title-items">Contáctanos</h2>
			<div>
			  <p>ÉRICA VALLEJOS</p>
			  <a href="#">
				<img class="icon-profiles" src="../assets/img/img-footer/icon/github-sign.png">
			  </a>
			  <a href="#">
				<img class="icon-profiles" src="../assets/img/img-footer/icon/linkedin.png">
			  </a>
			</div>
			<div>
			  <p>JOSÉ TEROL</p>
			  <a href="#">
				<img class="icon-profiles" src="../assets/img/img-footer/icon/github-sign.png">
			  </a>
			  <a href="#">
				<img class="icon-profiles" src="../assets/img/img-footer/icon/linkedin.png">
			  </a>
			</div>
			<div>
			  <p>SAMIR MAHMUD</p>
			  <a href="#">
				<img class="icon-profiles" src="../assets/img/img-footer/icon/github-sign.png">
			  </a>
			  <a href="#">
				<img class="icon-profiles" src="../assets/img/img-footer/icon/linkedin.png">
			  </a>
			</div>
			<div>
			  <p>MARTÍN ABALLAY</p>
			  <a href="#">
				<img class="icon-profiles" src="../assets/img/img-footer/icon/github-sign.png">
			  </a>
			  <a href="#">
				<img class="icon-profiles" src="../assets/img/img-footer/icon/linkedin.png">
			  </a>
			</div>
		  </div>
		  <div class="cont-items">
			<h2 class="title-items">Seguinos</h2>
			<a href="#">
			  <img class="icon-footer" src="../assets/img/img-footer/icon/instagram.png">
			</a>
		  </div>
		</div>
		<div class="cont-buy">
		  <h2 class="title-items">Medios de pago</h2>
		  <div>
			<img class="icon-card" src="../assets/img/img-footer/visa@2x.png">
			<img class="icon-card" src="../assets/img/img-footer/tarjeta-shopping@2x.png">
			<img class="icon-card" src="../assets/img/img-footer/tarjeta-naranja@2x.png">
			<img class="icon-card" src="../assets/img/img-footer/mastercard@2x.png">
			<img class="icon-card" src="../assets/img/img-footer/diners@2x.png">
			<img class="icon-card" src="../assets/img/img-footer/cabal@2x.png">
			<img class="icon-card" src="../assets/img/img-footer/banelco@2x.png">
			<img class="icon-card" src="../assets/img/img-footer/amex@2x.png">
		  </div>
		</div>
		<div class="cont-copy">
		  <h3>Copyright© The Bike - 2023 Todos los derechos reservados</h3>
		</div>
	</footer>

</body>
</html>
